# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# database
prisma/db.sqlite
prisma/db.sqlite-journal

# next.js
.next/
out/

# expo
.expo/
dist/

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.development
.env.prod
.env.production
.env*.local
!/apps/expo/.env

# vercel
.vercel

# typescript
*.tsbuildinfo

# turbo
.turbo

# apk
.apk
apps/expo/build-1694808019062.apk

expo-env.d.ts

target